.flex{
    display: flex;
}

.registerContainer{
    flex-direction: column;
    align-items: center;
}

.RegisterButtonContainer{
    margin-top: 2%;
    justify-content: center;
}

.deleteProduct{
    font-weight: 800;
}

.deleteProduct:hover{
    cursor: pointer;
}

#map{
    height: 500px;
    width: 500px;
}