.flex{
    display: flex;
}

.registerContainer{
    flex-direction: column;
    align-items: center;
}

.RegisterButtonContainer{
    margin-top: 2%;
    justify-content: center;
}

.fa-trash-alt{
    color: black;
    width: 2vw;
}